
<html>
<head>
<title>Login page</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">

</head>
<body >

<!-- Start coding from below -->
	<h1>OTP VERIFICATION</h1>
	<form action="/login" method="POST">
		<br><br>
		<label>USERNAME</label>
		<input type="text" placeholder="username" name="username">
		<br><br>
		<label>PASSWORD</label>
		<input type="password" placeholder="password" name="password">
		<p>Mobile Number should be with country code +1. e.g. +1 (408)-486-XXXX</p>
		<label>MOBILE NO.</label>
		<input type="tel" placeholder="Mobile Number" name="number">
		<br><br>
		<input type="Submit" class="btn btn-success btn-lg" value="Get OTP">
		<br><br>
	</form>


</body>
</html>


